#!/usr/bin/env bash
# vim: set ft=sh:
set -Eeo pipefail
export PGPASSWORD='{{ openkm_db_pass }}'
exec psql \
    --host='127.0.0.1' \
    --port='{{ openkm_db_cont_port }}' \
    --username='{{ openkm_db_user }}' \
    --dbname='{{ openkm_db_name }}' \
    "${@}"
