#!/usr/bin/env bash
# vim: ft=bash
# This script is just a workaround for lack curl or wget.
# https://ceh51.blogspot.com/2016/07/how-to-open-tcpudp-sockets-bash-shell.html
exec 5<>/dev/tcp/localhost/{{ openkm_mail_cont_port }}
echo -e '\c' >&5
# Wait for SMTP to recognize the connetion to to get 220 response instead of:
# 554 SMTP synchronization error 
sleep 0.2
echo -e 'NOOP\n' >&5
timeout 0.2 cat <&5 | grep OK || exit 1
