---
services:
  app:
    container_name: '{{ openkm_app_cont_name }}'
    image: '{{ openkm_app_cont_image }}'
    user: 'openkm'
    network_mode: 'host'
    restart: 'always'
    stop_signal: SIGINT
    entrypoint: '/opt/tomcat/bin/catalina.sh'
    command: 'run'
    volumes:
      - '{{ openkm_app_cont_vol }}/conf/openkm.properties:/opt/tomcat/openkm.properties'
      - '{{ openkm_app_cont_vol }}/conf/logback.xml:/opt/tomcat/logback.xml'
      - '{{ openkm_app_cont_vol }}/conf/jbpm-console.properties:/opt/tomcat/jbpm-console.properties'
      - '{{ openkm_app_cont_vol }}/webapps/jbpm-console.war:/opt/tomcat/webapps/jbpm-console.war'
      - '{{ openkm_app_cont_vol }}/repo:/opt/tomcat/repository'
      - '{{ openkm_app_cont_vol }}/logs:/opt/tomcat/logs'
      - '{{ openkm_xvfb_cont_vol }}:/tmp/.X11-unix'
    depends_on:
      db:   { condition: service_healthy }
      mail: { condition: service_started }
      xvfb: { condition: service_started }
    healthcheck:
      test: ['CMD', 'wget', '-qO-', 'http://localhost:{{ openkm_app_cont_port }}/openkm/kcenter/']
      interval: 30s
      timeout: 10s
      retries: 3

  xvfb:
    container_name: '{{ openkm_xvfb_cont_name }}'
    image: '{{ openkm_xvfb_cont_image }}'
    user: 'openkm'
    restart: 'always'
    entrypoint: '/usr/bin/Xvfb'
    command: ':1'
    volumes:
      - '{{ openkm_xvfb_cont_vol }}:/tmp/.X11-unix'
    healthcheck:
      test: ['CMD', '/usr/bin/ls', '/tmp/.X11-unix/X1']
      interval: 30s
      timeout: 10s
      retries: 3

  mail:
    container_name: '{{ openkm_mail_cont_name }}'
    image: '{{ openkm_mail_cont_image }}'
    env_file: '{{ openkm_service_path }}/mail.env'
    volumes:
      - '{{ openkm_mail_cont_vol }}/healthcheck.sh:/usr/local/bin/smtp_healthcheck.sh'
    healthcheck:
      test: ['CMD', '/usr/local/bin/smtp_healthcheck.sh']
      interval: 30s
      timeout: 10s
      retries: 3
