---
version: '3.7'
services:
  app:
    container_name: '{{ openkm_app_cont_name }}'
    build: '{{ openkm_app_cont_vol }}/docker'
    user: 'www-data'
    network_mode: 'host'
    restart: 'always'
    stop_signal: SIGINT
    entrypoint: '/opt/tomcat/bin/catalina.sh'
    command: 'run'
    volumes:
      - '{{ openkm_app_cont_vol }}/openkm.properties:/opt/tomcat/openkm.properties'
      - '{{ openkm_xvfb_cont_vol }}:/tmp/.X11-unix'
    depends_on:
      db:   { condition: service_healthy }
      mail: { condition: service_started }
      xvfb: { condition: service_started }
    healthcheck:
      test: ['CMD', 'wget', '-qO-', 'http://localhost:{{ openkm_app_cont_port }}/openkm/kcenter/']
      interval: 30s
      timeout: 10s
      retries: 3

  xvfb:
    container_name: '{{ openkm_xvfb_cont_name }}'
    image: '{{ openkm_xvfb_cont_image }}'
    user: 'www-data'
    restart: 'always'
    entrypoint: '/usr/bin/Xvfb'
    command: ':1'
    volumes:
      - '{{ openkm_xvfb_cont_vol }}:/tmp/.X11-unix'
    healthcheck:
      test: ['CMD', '/usr/bin/ls', '/tmp/.X11-unix/X1']
      interval: 30s
      timeout: 10s
      retries: 3

  db:
    container_name: '{{ openkm_db_cont_name }}'
    image: '{{ openkm_db_cont_image }}'
    env_file: '{{ openkm_service_path }}/db.env'
    network_mode: 'host'
    restart: 'always'
    command: |
      -p {{ openkm_db_cont_port }}
    tmpfs:
      - '/run/postgresql'
      - '/tmp'
    volumes:
      - '{{ openkm_db_cont_vol }}/data:/var/lib/postgresql/data'
      - '{{ openkm_db_cont_vol }}/backup:/backup'
    healthcheck:
      test: ['CMD', 'pg_isready', '-p{{ openkm_db_cont_port }}', '-U{{ openkm_db_user }}']
      interval: 30s
      timeout: 10s
      retries: 3

  mail:
    container_name: '{{ openkm_mail_cont_name }}'
    image: '{{ openkm_mail_cont_image }}'
    env_file: '{{ openkm_service_path }}/mail.env'
    volumes:
      - '{{ openkm_mail_cont_vol }}/healthcheck.sh:/usr/local/bin/smtp_healthcheck.sh'
    healthcheck:
      test: ['CMD', '/usr/local/bin/smtp_healthcheck.sh']
      interval: 30s
      timeout: 10s
      retries: 3
