---
version: '3.7'
services:
  app:
    container_name: '{{ openkm_app_cont_name }}'
    image: '{{ openkm_app_cont_image }}'
    user: 'www-data'
    network_mode: 'host'
    restart: 'always'
    volumes:
      - '{{ openkm_app_cont_vol }}/openkm.properties:/opt/tomcat/openkm.properties'
      - '{{ openkm_app_cont_vol }}/conf:/etc/supervisor/conf.d'
      - '{{ openkm_app_cont_vol }}/logs:/var/log/supervisor'
    depends_on:
      db:   { condition: service_healthy }
      mail: { condition: service_started }
    entrypoint: '/usr/bin/supervisord'
    command: |
      -n -c /etc/supervisor/supervisord.conf
    healthcheck:
      test: ['CMD', 'wget', '-qO-', 'http://localhost:{{ openkm_app_cont_port }}/openkm/kcenter/']
      interval: 30s
      timeout: 10s
      retries: 3

  db:
    container_name: '{{ openkm_db_cont_name }}'
    image: '{{ openkm_db_cont_image }}'
    env_file: '{{ openkm_service_path }}/db.env'
    network_mode: 'host'
    restart: 'always'
    command: |
      -p {{ openkm_db_cont_port }}
    tmpfs:
      - '/run/postgresql'
      - '/tmp'
    volumes:
      - '{{ openkm_db_cont_vol }}/data:/var/lib/postgresql/data'
      - '{{ openkm_db_cont_vol }}/backup:/backup'
    healthcheck:
      test: ['CMD', 'pg_isready', '-p{{ openkm_db_cont_port }}', '-U{{ openkm_db_user }}']
      interval: 30s
      timeout: 10s
      retries: 3

  mail:
    container_name: '{{ openkm_mail_cont_name }}'
    image: '{{ openkm_mail_cont_image }}'
    env_file: '{{ openkm_service_path }}/mail.env'
