[inet_http_server]
port=*:9001
username = www-data
password = www-data

[program:xvfb]
command=/usr/bin/Xvfb :1
autostart=true
autorestart=true
priority=10

[program:tomcat]
command=/opt/tomcat/bin/catalina.sh run
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stopsignal=INT
autostart=true
autorestart=true
priority=15
